@model RealMerchPlan.Models.Section

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfBays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfBays)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.Bays)
        </dt>
        <h4>Bay Details</h4>
        <dd>
            <table class="table">
                <tr>
                    <th>Bay Name</th>
                    <th>Height</th>
                    <th>Width</th>
                    <th>Depth</th>
                    <th>X Location</th>
                    <th>Y Location</th>
                    <th>No of Fixtures</th>
                </tr>

                @foreach (var item in Model.Bays)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Height)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Width)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Depth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.XLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfFix)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
