@model RealMerchPlan.Models.Bay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Section.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfFix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfFix)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
