@model RealMerchPlan.Models.Position

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fixture.FixtureID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fixture.FixtureID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPCScan.UPCId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPCScan.UPCId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PositionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
